*, container {
    margin: 0;
    padding-top: 1px;
}
body {
    background-color: #b0f3d5;
}

#header {
    border-radius: 10px;
    padding-bottom: 0px;
}

img {
    border-radius: 20px;
}

